body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 20px 0;
}

.header__nav {
    display: flex;
    gap: 50px;
}

.header__nav-link {
    color: rgba(18, 16, 12, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.btn {
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 22px;
    border-radius: 12px;
    background: #12100c;
    border: none;
}

.hero {
    margin: 50px 0 0 0;
}

.hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-title {
    color: #12100c;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    margin: 0;
}

.hero-text {
    color: rgba(18, 16, 12, 0.7);
    font-size: 23px;
    font-weight: 400;
    line-height: 31.92px;
    margin: 36px 0 48px;
}

.hero-btn {
    color: #12100c;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    border-radius: 16px;
    background: #ffae33;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 12px 46px;
}
.hero-img img {
    width: 100%;
    height: 100%;
}
.hero-img {
    max-width: 630px;
}

@media screen and (max-width: 960px) {
    .hero__content {
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 880px) {
    .header__nav {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    .hero-title {
        font-size: 64px;
        line-height: 70px;
    }
    .hero-text {
        font-size: 16px;
        margin: 20px 0;
    }
}
